$green: #40de4e;
$light-green: #40de4e;
$orange: #fb660a;
$light-gray: #949494;
$white: #fff;
$gray: #949494;
$white-gray: #f9f9f9;
$white-light: #f5f5f5;
$semiblack: #1e1d1d;
$box-shadow: #676767;
$red: #ff0000;
$dark: #212529;
