@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url("../assets/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Poppins; // moja nazwa
  font-weight: 500;
  src: url("../assets/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url("../assets/Poppins-Bold.ttf") format("truetype");
}
